config ABL_BOOTLOADER_CONTROL
        tristate "ABL Bootloader Control module"
        default n
        help
          This driver installs a reboot hook, such that if reboot() is
          invoked with a string argument, the corresponding ABL Action
          is written in CMOS data, in order to be processed by ABL on
          reboot.
