# SPDX-License-Identifier: GPL-2.0-only
#
# xlink-usb configuration
#

config XLINK_USB_LH_DRIVER
	tristate "XLink USB Local Host driver"
	depends on TTY
	depends on USB
	select USB_LIBCOMPOSITE
	select USB_U_XLINK
	select USB_F_VPUUSB
	select USB_GADGET
	help
	  This option enables XLink USB Local Host driver.
	  This driver supports a CDC-ACM module option, which can be used
	  to interoperate with the xlink usb remote host driver.

	  Say "y" to link the driver statically, or "m" to build a
	  dynamically linked module

config USB_U_XLINK
	tristate

config USB_F_VPUUSB
	tristate

config XLINK_USB_RH_DRIVER
	tristate "XLink USB Remote Host driver"
	depends on TTY
	depends on USB
	depends on !XLINK_USB_LH_DRIVER
	help
	  This option enables XLink USB Remote Host driver.
	  Choose M here to compile this driver as a module.
