# SPDX-License-Identifier: GPL-2.0-only
#
# Intel x86 Platform Specific Drivers
#

source "drivers/platform/x86/intel/pmc/Kconfig"

config INTEL_SDSI
	tristate "Intel Software Defined Silicon Driver"
	depends on INTEL_VSEC
	depends on X86_64
	help
	  This driver enables access to the Intel Software Defined Silicon
	  interface used to provision silicon features with an authentication
	  certificate and capability license.

	  To compile this driver as a module, choose M here: the module will
	  be called intel_sdsi.

config INTEL_TPMI
	tristate "Intel Topology Aware Register and PM Capsule Interface (TPMI)"
	depends on INTEL_VSEC
	depends on X86_64
	help
	  The Intel Topology Aware Register and PM Capsule Interface (TPMI),
	  provides enumerable MMIO interface for power management features.
	  This driver creates devices, so that other PM feature driver can
	  be loaded for PM specific feature operation.

	  To compile this driver as a module, choose M here: the module will
	  be called intel_vsec_tpmi.

config INTEL_VSEC
	tristate "Intel Vendor Specific Extended Capabilities Driver"
	depends on PCI
	select AUXILIARY_BUS
	help
	  Adds support for feature drivers exposed using Intel PCIe VSEC and
	  DVSEC.

	  To compile this driver as a module, choose M here: the module will
	  be called intel_vsec.
