config INTEL_IPU6_TGLRVP_PDATA
	bool "Enable built in platform data for TGL RVP"
	depends on MEDIA_CAMERA_SUPPORT
	help
	Pre-ACPI system platform data is compiled inside kernel

config INTEL_IPU6_ADLRVP_PDATA
	bool "Enable built in platform data for ADL RVP"
	depends on MEDIA_CAMERA_SUPPORT
	help
	 Pre-ACPI system platform data is compiled inside kernel

	 This platform data is useful for software development before
	 the SOC system not ready.

config INTEL_IPU6_ACPI
	tristate "Enable IPU ACPI driver"
	depends on I2C
	depends on ACPI
	depends on INTEL_SKL_INT3472
	help
	Driver to read ACPI data from BIOS

	This driver is used to read ACPI data from BIOS
