config KEYSTORE
	tristate "Keystore"
        depends on INTEL_MEI_DAL
	default n
	help
		An system deals with various keys that need to be stored
		securely on the platform. Some of the keys are stored in
		specific embedded hardware but others are required by
		algorithms running on Linux. The keystore is designed to
		provide a secure storage solution for such keys. Applications
		interface is through the char device ioctls on /dev/keystore.

		If in doubt, say "N".

config KEYSTORE_DEBUG
	bool "Keystore enable additional debug messages"
	depends on KEYSTORE
        default n
	help
		Provides additional debug prints, hexdumps during keystore
		operation. Includes hexdump of cryptographic data structures
		such as public keys.

		Should not be enabled in production as it will expose
		sensitive information!

		If unsure, select "N".

config DAL_KEYSTORE_APPLET_PATH
	string "DAL Keystore Applet path"
	depends on KEYSTORE
	default "/var/lib/intel/dal/applets/Keystore.pack"
	help
		The path for DAL Keystore applet file.

config DAL_KEYSTORE_APPLET_ID
	string "DAL Keystore Applet UUID"
	depends on KEYSTORE
	default "c12452f0adc640a78623708f0f4f0e52"
	help
		DAL Keystore applet UUID.
