menu "Android"

if ANDROID

config ASHMEM
	bool "Enable the Anonymous Shared Memory Subsystem"
	default n
	depends on SHMEM
	help
	  The ashmem subsystem is a new shared memory allocator, similar to
	  POSIX SHM but with different behavior and sporting a simpler
	  file-based API.

	  It is, in theory, a good memory allocator for low-memory devices,
	  because it can discard shared memory units when under memory pressure.

config ANDROID_VSOC
	tristate "Android Virtual SoC support"
	default n
	depends on PCI_MSI
	help
	  This option adds support for the Virtual SoC driver needed to boot
	  a 'cuttlefish' Android image inside QEmu. The driver interacts with
	  a QEmu ivshmem device. If built as a module, it will be called vsoc.

config SYNC
        bool "Synchronization framework"
        default n
        ---help---
          This option enables the framework for synchronization between multiple
          drivers.  Sync implementations can take advantage of hardware
          synchronization built into devices like GPUs.

config ANDROID_FWDATA
	tristate "Parser for Android-specific firmware data"
	depends on ACPI
	default n
	---help---
	  This driver parses Android-specific data (e.g. fstab configuration)
	  stored in firmware (e.g. ACPI tables), and present it to user space
	  via sysfs. Android Oreo (8.0) and later requires some essential boot-
	  time configuration to be available in a directory structure organized
	  in Device Tree style, e.g. /proc/device-tree/firmware/android/ on
	  platforms that enable DT. Platforms that use ACPI instead of DT, such
	  as Goldfish (Ranchu) x86/x86_64, should enable this driver to ensure
	  the required information can be found in sysfs with the expected
	  layout.

source "drivers/staging/android/ion/Kconfig"

endif # if ANDROID

endmenu
