config VIDEO_INTEL_IPU6
	tristate "Intel IPU driver"
	depends on ACPI
	depends on MEDIA_SUPPORT
	depends on MEDIA_PCI_SUPPORT
	select IOMMU_API
	select IOMMU_IOVA
	select X86_DEV_DMA_OPS if X86
	select VIDEOBUF2_DMA_CONTIG
	select V4L2_FWNODE
	select PHYS_ADDR_T_64BIT
	select COMMON_CLK
	help
	  This is the Intel imaging processing unit, found in Intel SoCs and
	  used for capturing images and video from a camera sensor.

	  To compile this driver, say Y here! It contains 3 modules -
	  intel_ipu*, intel_ipu*_isys and intel_ipu*_psys.

choice
	prompt "intel ipu hardware platform type"
	depends on VIDEO_INTEL_IPU6
	default VIDEO_INTEL_IPU_SOC

config VIDEO_INTEL_IPU_SOC
	bool "Compile for SOC"
	help
	  Used for real SoC hardware driver development
	  Select for SOC platform

endchoice

config VIDEO_INTEL_IPU_WERROR
	bool "Force GCC to throw an error instead of a warning when compiling"
	depends on VIDEO_INTEL_IPU6
	depends on EXPERT
	depends on !COMPILE_TEST
	default n
	help
	  Add -Werror to the build flags for (and only for) intel ipu module.
	  Do not enable this unless you are writing code for the ipu module.

	  Recommended for driver developers only.

	  If in doubt, say "N".

config VIDEO_INTEL_IPU_USE_PLATFORMDATA
	bool "Enable platform data"
	depends on VIDEO_INTEL_IPU6
	default y
	help
	  Enalbe platform data in IPU.

config VIDEO_INTEL_IPU_PDATA_DYNAMIC_LOADING
	bool "Enable platform data dynamic loading"
	depends on VIDEO_INTEL_IPU6
	depends on VIDEO_INTEL_IPU_USE_PLATFORMDATA
	default n
	help
	  Load sensor configuration data from file system. Then if there's hardware
	  configuration change no need to recompile the kernel. Useful in multiple port
	  and multiple sensor case

	  If in doubt, say "N".

