config DRM_HANTRO_UNIFY
	tristate "Hantro Driver Unified"
	depends on DRM
	default m
	select DRM_PANEL
	select DRM_KMS_HELPER
	help
	  Choose this option if your system supports Hantro Driver
	  for KMB B0 and TBH ARM Media. This driver supports video and JPEG
	  encode/decode.
